<!-- Section -->
<section class="py-0 overflow-hidden text-center">
  <div class="bg-container overlay overlay-40 parallax" data-rellax-percentage="0.5" style="background-image: url(assets/assets/img/backgrounds/bg-06.jpg)"></div>
  <div class="container">
    <div class="row h-100vh align-items-center">
      <div class="col" data-aos="zoom-out" data-aos-duration="1000">
        <h1 class="mb-4 text-white text-uppercase fs-4 fs-lg-6">Contact Us</h1>
        <a href="#section-2" class="btn btn-primary btn-lg px-6" data-smooth-scroll data-smooth-scroll-hash="false">Get
          in touch</a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section id="section-2" class="pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="my-0 fs-1 fw-medium text-primary text-uppercase">Get in touch</h3>
        <h2 class="mb-5 fw-medium text-secondary text-uppercase">Contact Us</h2>
        <p class="mb-6 fs--1">Sed eu sapien accumsan, rutrum velit et, imperdiet elit. Vivamus posuere
          eleifend enim auctor congue. Vivamus sed lacus ex. Phasellus porta metus dui, eget
          porttitor dolor pharetra in. Fusce consequat convallis tincidunt.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-md-6">
        <div class="py-15" data-latlng="40.729884,-73.990988" data-zoom="14" data-marker="assets/assets/img/marker.png">
          <div class="infowindow p-2">
            <h5>Hello</h5>
            <h6 class="text-primary">SPYRE</h6>
            <p class="mb-0">Premium Bootstrap Theme</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 bg-blue-light overflow-hidden">
        <div class="row h-100 align-items-center">
          <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="col px-5 px-lg-8 py-6 py-lg-0">
            <fieldset>              
              <div class="form-group mb-4" [class.has-error]="formErrors.name">
                <input type="text" class="form-control" formControlName="name" placeholder="Name">
                <div *ngIf="formErrors.name" class="text-error">
                  {{formErrors.name}}
                </div>
              </div>
              <div class="form-group mb-4" [class.has-error]="formErrors.contact">
                <input type="text" class="form-control" formControlName="contact" placeholder="Phone">
                <div *ngIf="formErrors.contact" class="text-error">
                  {{formErrors.contact}}
                </div>
              </div>
              <div class="form-group mb-4" [class.has-error]="formErrors.email">
                <input type="text" class="form-control" formControlName="email" placeholder="Email">
                <div *ngIf="formErrors.email" class="text-error">
                  {{formErrors.email}}
                </div>
              </div>
              <div class="form-group mb-4" [class.has-error]="formErrors.inquiry">
                <textarea formControlName="inquiry" class="form-control" rows="9" placeholder="message"></textarea>
                <div *ngIf="formErrors.inquiry" class="text-error">
                  {{formErrors.inquiry}}
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Send</button>
            </fieldset>

          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="pb-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-4 mb-5">
            <div class="card d-block border-0" data-aos="zoom-in">
              <img class="card-img-top" src="assets/assets/img/img-38.jpg" alt="">
              <div class="card-body p-0 pt-4">
                <h6 class="mb-3 text-uppercase">Lorem ipsum dolor sit amet</h6>
                <p class="card-text fs--1">Proin venttdio nunc, id fringilla augue luctus et.
                  Mauris condimentum vehicula magna a vehicula. Cras ornare, ligula id semper
                  fringilla, ex turpis.</p>
                <a href="#" class="h6 fs--1 fw-bold text-uppercase text-primary float-right">View
                  more<i class="zmdi zmdi-chevron-right pl-4"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card d-block border-0" data-aos="zoom-in" data-aos-delay="50">
              <img class="card-img-top" src="assets/assets/img/img-39.jpg" alt="">
              <div class="card-body p-0 pt-4">
                <h6 class="mb-3 text-uppercase">Etiam pellentesque felis at ligula</h6>
                <p class="card-text fs--1">Fusce vel scelerisque ex. Lorem ipsum dolor sit
                  amet, consectetur adipiscing elit. Maecenas accumsan velit rhoncus elit
                  tempus ligula id.</p>
                <a href="#" class="h6 fs--1 fw-bold text-uppercase text-primary float-right">View
                  more<i class="zmdi zmdi-chevron-right pl-4"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card d-block border-0" data-aos="zoom-in" data-aos-delay="100">
              <img class="card-img-top" src="assets/assets/img/img-40.jpg" alt="">
              <div class="card-body p-0 pt-4">
                <h6 class="mb-3 text-uppercase">Phasellus egestas urna</h6>
                <p class="card-text fs--1">Maecenas sagittis elementum lorem ac lobortis.
                  Praesent mauris magna, commodo at libero vitae, auctor feugiat turpis ac
                  nulla.</p>
                <a href="#" class="h6 fs--1 fw-bold text-uppercase text-primary float-right">View
                  more<i class="zmdi zmdi-chevron-right pl-4"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="py-8 overflow-hidden text-center">
  <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(assets/assets/img/backgrounds/bg-07.jpg);"></div>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-10 col-lg-5">
        <h2 class="mb-4 text-white text-uppercase">The office life</h2>
        <h6 class="mb-5 lh-14 text-white">Donec non tristique nunc. Aliquam quis egestas enim, ac
          dictum nibh. In vel libero quam. Pellentesque commodo nisl risus, sed sodales orci volutpat
          at. Mauris ultricies at purus ac blandit. Nunc rhoncus, lacus ut sollicitudin luctus, neque
          diam tempus arcu.</h6>
        <a href="#" class="btn btn-lg btn-primary px-6">View more<i class="zmdi zmdi-chevron-right zmdi-hc-lg ml-3"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h3 class="my-0 fs-1 fw-medium text-primary text-uppercase">Subscribe</h3>
        <h2 class="mb-5 fw-medium text-secondary text-uppercase">Newsletter</h2>
        <p class="mb-4">Cras dapibus erat ex, sed efficitur ligula interdum ut.</p>

        <form class="form">
          <div class="form-group mb-1">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <input type="text" class="form-control mb-3 mb-lg-2" placeholder="Email address">
              </div>
              <div class="col-8 col-lg-4">
                <button type="button" class="btn btn-primary btn-block">Subscribe<i class="zmdi zmdi-mail-send ml-2"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->