<div class="container py-3">
    <div class="row">
        <div class="col-lg-8 mx-lg-auto text-center">
          <h2 class="margin-top-0 wow fadeIn">Technologies</h2>
          <hr class="accent">
          <p>We love feedback. Fill out the form below and we&apos;ll get back to you as soon as possible.</p>
        </div>
      </div>

  <div class="row">

    <div class="col-md-4 col-sm-6 text-center py-3">
      <h2><fa-icon [icon]="['fab', 'html5']"></fa-icon></h2>
      <a class="link" href="#">Html 5</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
      <h2><fa-icon [icon]="['fab', 'css3']"></fa-icon></h2>
      <a class="link" href="#">Css 3</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
      <h2><fa-icon [icon]="['fab', 'js']"></fa-icon></h2>
      <a class="link" href="#">JavaScript</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'php']"></fa-icon></h2>
      <a class="link" href="#">Php</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'opencart']"></fa-icon></h2>
      <a class="link" href="#">Opencart</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'wordpress']"></fa-icon></h2>
      <a class="link" href="#">Wordpress</a>
    </div>
    
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'laravel']"></fa-icon></h2>
      <a class="link" href="#">Laravel</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'drupal']"></fa-icon></h2>
      <a class="link" href="#">Drupal</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center py-3">
        <h2><fa-icon [icon]="['fab', 'angular']"></fa-icon></h2>
      <a class="link" href="#">Angular</a>
    </div>

  </div>
</div>