<!-- Section -->
<section class="py-0 overflow-hidden text-center">
  <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(assets/assets/img/backgrounds/bg-09.jpg)"></div>
  <div class="container">
    <div class="row h-100vh align-items-center">
      <div class="col">
        <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="fade-right" data-aos-duration="1000">Our
          Work</h1>
        <p class="mb-5 fs-0 fs-lg-1 text-white" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">Lorem
          ipsum dolor sit amet, consectetur<br class="d-none d-lg-block" />adipiscing
          elit. Suspendisse diam.</p>
        <a href="contact.html" class="btn btn-primary btn-lg px-6" data-aos="fade-right" data-aos-delay="100"
          data-aos-duration="1000">Get a quote</a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 order-lg-2 py-6 py-lg-9 px-0">
        <div class="grid">
          <div class="row no-gutters mt-neg-3">
            <div class="col-md-6 col-lg-4 p-3 grid-item print vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-01.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-01.jpg" alt="Image 01" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item branding campaign">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-02.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-02.jpg" alt="Image 02" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item identity vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-03.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-03.jpg" alt="Image 03" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item branding campaign">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-04.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-04.jpg" alt="Image 04" /></a>
            </div>
            <div class="col-12 col-lg-8 p-3 grid-item art vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-05.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-05.jpg" alt="Image 05" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item art online">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-06.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-06.jpg" alt="Image 06" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item web video">
              <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=bFc1EqGfd48" class="position-relative">
                <img class="img-fluid w-100" src="assets/assets/img/portfolio/portfolio-07.jpg" alt="Image 07" />
                <span class="icon icon-sm position-absolute mt-neg-6 ml-3">
                  <i class="zmdi zmdi-play zmdi-hc-2x"></i>
                </span>
              </a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item print campaign">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-08.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-08.jpg" alt="Image 08" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item art vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-09.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-09.jpg" alt="Image 09" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item art vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-10.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-10.jpg" alt="Image 10" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item web online">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-11.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-11.jpg" alt="Image 11" /></a>
            </div>
            <div class="col-md-6 col-lg-4 p-3 grid-item identity vision">
              <a data-fancybox="gallery" href="assets/assets/img/portfolio/portfolio-big-12.jpg"><img class="img-fluid w-100"
                  src="assets/assets/img/portfolio/portfolio-12.jpg" alt="Image 12" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 order-lg-1">
        <div class="pb-6 py-lg-9" data-toggle="sticky">
          <h5 class="mb-4 text-uppercase text-600">Types</h5>
          <ul class="mb-6 list-unstyled text-600">
            <li class="mb-1"><a href="javascript:;" data-filter="*" class="text-600">All</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".art" class="text-600">Art</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".branding" class="text-600">Branding</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".identity" class="text-600">Identity</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".print" class="text-600">Print</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".web" class="text-600">Web</a></li>
          </ul>

          <h5 class="mb-4 text-uppercase text-600">Categories</h5>
          <ul class="list-unstyled text-600">
            <li class="mb-1"><a href="javascript:;" data-filter="*" class="text-600">All</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".campaign" class="text-600">Campaign</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".online" class="text-600">Online</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".video" class="text-600">Video</a></li>
            <li class="mb-1"><a href="javascript:;" data-filter=".vision" class="text-600">Vision</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="pt-0 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-10 col-lg-6">
        <h3 class="mb-4 text-uppercase">Our project goal</h3>
        <p class="text-600">Integer urna nibh, ultricies eget velit sed, ornare mollis nibh. Sed
          sagittis, enim scelerisque bibendum hendrerit, ligula est sagittis magna, at faucibus eros
          orci a nunc. Aliquam non mauris at elit.</p>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="py-0">
  <div class="container">
    <div class="row justify-content-center align-items-center py-6 bg-secondary text-white text-center">
      <div class="col col-lg-7">
        <p class="mb-0 fs-1">Lorem ipsum dolor sit amet, consectetur elit.</p>
      </div>
      <div class="col-auto">
        <a href="#" class="btn btn-outline-light mt-5 mt-lg-0 px-5">Get started</a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <h3 class="my-0 fs-1 fw-medium text-primary text-uppercase">Subscribe</h3>
        <h2 class="mb-5 fw-medium text-secondary text-uppercase">Newsletter</h2>
        <p class="mb-4">Cras dapibus erat ex, sed efficitur ligula interdum ut.</p>

        <form class="form">
          <div class="form-group mb-1">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <input type="text" class="form-control mb-3 mb-lg-2" placeholder="Email address">
              </div>
              <div class="col-8 col-lg-4">
                <button type="button" class="btn btn-primary btn-block">Subscribe<i class="zmdi zmdi-mail-send ml-2"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->