<!-- Section -->
<section class="pt-7 pb-0 bg-blue-light">
  <div class="container">
    <!-- Carousel -->
    <div class="owl-carousel pb-6 px-lg-8 px-xl-12" data-carousel-options='{"margin":30,"nav":true,"items":1,"loop":true,"dots":false}'>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3">
          <img src="assets/assets/img/profiles/profile-09.jpg" alt="" class="img-fluid w-100 rounded-circle" />
        </div>
        <div class="col-lg-9">
          <blockquote class="blockquote" data-aos="zoom-out-up">
            <p>Praesent pulvinar tortor vitae sem semper aliquet. Nam finibus libero et
              sollicitudin convallis. Orci varius natoque penatibus et magnis dis parturient
              montes, nascetur ridiculus mus. Aliquam at nibh facilisis, mollis libero a,
              suscipit nisi. Morbi sed gravida tortor.</p>
            <footer class="blockquote-footer text-right"><span class="h5 text-primary fw-medium">Benjamin
                Parker</span><br />Brookfield, CEO</footer>
          </blockquote>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3">
          <img src="assets/assets/img/profiles/profile-10.jpg" alt="" class="img-fluid w-100 rounded-circle" />
        </div>
        <div class="col-lg-9">
          <blockquote class="blockquote">
            <p>Integer sagittis mauris massa, at dignissim est ullamcorper eu. Sed egestas lacus ut
              maximus semper. Duis sed velit tristique, rutrum quam nec, laoreet libero.
              Pellentesque laoreet laoreet rutrum. Cras sed facilisis dolor. Integer blandit, est
              bibendum ornare.</p>
            <footer class="blockquote-footer text-right"><span class="h5 text-primary fw-medium">Lawrence
                Wilson</span><br />Westfield, Business Manager</footer>
          </blockquote>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3">
          <img src="assets/assets/img/profiles/profile-11.jpg" alt="" class="img-fluid w-100 rounded-circle" />
        </div>
        <div class="col-lg-9">
          <blockquote class="blockquote">
            <p>Suspendisse quis ex imperdiet, consectetur justo gravida, convallis odio. Phasellus
              tempor non ligula non facilisis. Maecenas vel massa nec tortor vulputate auctor.
              Suspendisse et neque sit amet nisi facilisis tempus in non tellus. Duis nec massa
              purus.</p>
            <footer class="blockquote-footer text-right"><span class="h5 text-primary fw-medium">Austin
                Cooper</span><br />GGP, CEO</footer>
          </blockquote>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3">
          <img src="assets/assets/img/profiles/profile-12.jpg" alt="" class="img-fluid w-100 rounded-circle" />
        </div>
        <div class="col-lg-9">
          <blockquote class="blockquote">
            <p>Nam pulvinar sapien nec enim vestibulum, vitae porta arcu mollis. Nam vulputate
              porttitor neque. Ut placerat eros quam, a congue eros efficitur sed. Fusce laoreet
              dui et dui congue aliquam. Suspendisse lacus libero, gravida sed massa ac, interdum
              efficitur lectus.</p>
            <footer class="blockquote-footer text-right"><span class="h5 text-primary fw-medium">Doris
                Bishop</span><br />AvalonBay, CEO</footer>
          </blockquote>
        </div>
      </div>
    </div>
    <!-- End of Carousel -->
  </div>
</section>
<!-- End of Section -->