<!-- navbar -->
<nav id="topNav" class="navbar navbar-default mb-3 navbar-expand-lg fixed-top" data-toggle="affix">
  <!-- this toggler only displays on offcanvas layout -->
  <a href="#" class="navbar-toggler-anim toggler-offcanvas my-auto collapsed border-0 mr-2" data-toggle="collapse"
    data-target="#offcanvasNavbar">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <!-- text brand or logo image goes here -->
  <a class="navbar-brand page-scroll text-uppercase wide-space link" routerLink="">
    XeroneSoft
  </a>
  <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
    <span></span>
    <span></span>
    <span></span>
  </button>
  <div class="collapse navbar-collapse border-0" id="collapsingNavbar">

    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link page-scroll" title="Home" routerLink="">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" title="About" routerLink="/about">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" title="About" routerLink="/technologies">
          Technologies
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" title="Services" routerLink="/services">
          Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link page-scroll" title="Contact" routerLink="/contact">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- /navbar -->


<router-outlet></router-outlet>

<footer id="footer" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-2 mb-2">Okay, Boss.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3">
        <h6 class="text-uppercase">Information</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/technologies">Technologies</a></li>
          <li><a routerLink="/services">Services</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 column">
        <h6 class="text-uppercase">About</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-3 column">
        <h6 class="text-uppercase">Stay Connect</h6>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" title="Enter your email. No spam, we promise!" placeholder="">
          </div>
          <div class="form-group">
            <button class="btn btn-primary text-uppercase small" data-toggle="modal" data-target="#alertModal" type="button">Subscribe</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-2 ml-lg-auto col-md-3 ml-md-0 text-right">
        <h6 class="text-uppercase">Jobs</h6>
        <p><em><a routerLink="/career">We&apos;re looking for great talent. Browse the job openings.</a></em></p>
      </div>
      <div class="col-12 text-md-right text-center">
        <br>
        <ul class="list-inline">
          <li class="list-inline-item"><a rel="nofollow" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>&#xA0;
          </li>
          <li class="list-inline-item"><a rel="nofollow" href="#" title="Instagram"><i class="fa fa-instagram"></i></a>&#xA0;
          </li>
          <li class="list-inline-item"><a rel="nofollow" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>&#xA0;
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <hr class="light">
    <div class="text-center text-normal">
      <a href="http://www.xeronesoft.com/">&copy; xerone soft 2018 <i class="ion-location"></i></a>
    </div>
  </div>
</footer>