<section class="bg-alt">
  <div class="row">
    <div class="col-lg-8 mx-lg-auto text-center">
      <h2 class="margin-top-0 wow fadeIn">Careers</h2>
      <hr class="accent">
      <p>We love feedback. Fill out the form below and we&apos;ll get back to you as soon as possible.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <h3>BUSINESS DEVELOPER</h3>
            <p>Must have an experience 2-5 Years to deal with US, Canadian & Australian Client.</p>

            <ul>
              <li>Responding to the initial feedback from leads and hand over the same to the head of business
                development for further action</li>
              <li>Conveying our services to the prospects through Email campaigns and other relevant means.</li>
              <li>Generating database of industry segment-wise prospects</li>
              <li>Preparing and spreading Digital Marketing campaigns to create or strengthen brand awareness.</li>
              <li>Prepare presentations, case-studies, white-papers when needed</li>
            </ul>


          </div>
        </div>

        <div class="card">
          <div class="card-img-top">
          </div>
          <div class="card-body">
            <h3>Frontend Engineer</h3>
            <p>Must have an experience 2-5 Years.</p>

            <ul>
              <li>Responding to the initial feedback from leads and hand over the same to the head of business
                development for further action</li>
              <li>Conveying our services to the prospects through Email campaigns and other relevant means.</li>
              <li>Generating database of industry segment-wise prospects</li>
              <li>Preparing and spreading Digital Marketing campaigns to create or strengthen brand awareness.</li>
              <li>Prepare presentations, case-studies, white-papers when needed</li>
            </ul>

          </div>
        </div>

        <div class="card">
            <div class="card-img-top">
            </div>
            <div class="card-body">
              <h3>Backend Engineer</h3>
              <p>Must have an experience 2-5 Years.</p>
  
              <ul>
                <li>Responding to the initial feedback from leads and hand over the same to the head of business
                  development for further action</li>
                <li>Conveying our services to the prospects through Email campaigns and other relevant means.</li>
                <li>Generating database of industry segment-wise prospects</li>
                <li>Preparing and spreading Digital Marketing campaigns to create or strengthen brand awareness.</li>
                <li>Prepare presentations, case-studies, white-papers when needed</li>
              </ul>
  
            </div>
          </div>

      </div>
    </div>
  </div>
</section>