<section class="bg-alt">
  <div class="row">
    <div class="col-lg-8 mx-lg-auto text-center">
      <h2 class="margin-top-0 wow fadeIn">Our Services</h2>
      <hr class="accent">
      <p>We love feedback. Fill out the form below and we&apos;ll get back to you as soon as possible.</p>
    </div>
  </div>
  <div class="container py-5">
    <div class="row py-2">
      <div class="col-lg-6 col-md-6 col-12 wow fadeIn">
        <div class="card card-default">
          <div class="card-img-top card-img-top-400 card-zoom">
            <a href="blog-detail.html"><img src="assets/images/office3.jpg" class="mx-auto img-fluid" alt="image"></a>
          </div>
          <div class="card-body pt-2">
            <h6 class="text-uppercase small">Website designing</h6>
            <h3 class="card-title">Web design encompasses many different skills and disciplines in the
              production and maintenance of websites. The different areas of web design include web graphic design;
              interface design; authoring, including standardised code and proprietary software; user experience
              design; and search engine optimization.</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 wow fadeIn" data-wow-delay=".4s">
        <div class="card card-default">
          <div class="card-img-top card-img-top-400 card-zoom">
            <a href="blog-detail.html"><img src="assets/images/office1.jpg" class="mx-auto img-fluid" alt="image"></a>
          </div>
          <div class="card-body pt-2">
            <h6 class="text-uppercase small">Website development</h6>
            <h3 class="card-title">Web development is the work involved in developing a web site for the
              Internet or an intranet. Web development can range from developing a simple single static page of plain
              text to complex web-based internet applications electronic businesses, and social network services.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-lg-5 col-md-6 col-12 wow fadeIn">
        <div class="card card-default">
          <div class="card-img-top card-img-top-300 card-zoom">
            <a href="blog-detail.html"><img src="assets/images/office2.jpg" class="mx-auto img-fluid" alt="image"></a>
          </div>
          <div class="card-body pt-2">
            <h6 class="text-uppercase small">Mobile app development</h6>
            <h3 class="card-title">Mobile app development is the act or process by which a mobile app is developed for
              mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones.</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-12 wow fadeIn" data-wow-delay=".4s">
        <div class="card card-default">
          <div class="card-img-top card-img-top-300 card-zoom">
            <a href="blog-detail.html"><img src="assets/images/office6.jpg" class="mx-auto img-fluid" alt="image"></a>
          </div>
          <div class="card-body pt-2">
            <h6 class="text-uppercase small">Seo & Sem services</h6>
            <h3 class="card-title text-truncate">Collaborative Workspaces Come of Age</h3>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <br>
  </div>
</section>