<!-- Section -->
<section class="py-0 overflow-hidden text-center">
    <div class="bg-container overlay parallax" data-rellax-percentage="0.5" style="background-image: url(assets/assets/img/backgrounds/bg-01.jpg)"></div>
    <div class="container">
        <div class="row h-100vh align-items-center">
            <div class="col">
                <h1 class="text-white text-uppercase fs-4 fs-lg-6" data-aos="zoom-in" data-aos-duration="1000">What
                    we do</h1>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section>
    <div class="container">
        <div class="card-deck d-block d-lg-flex">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase"><i class="zmdi zmdi-spinner mr-2"></i>Strategy</h2>
                    <p class="fs--1">Suspendisse potenti. Maecenas consectetur enim ac turpis vehicula
                        sagittis. Nulla finibus gravida sodales. Cras vel tristique neque, et rutrum mi. In sit
                        amet velit a felis maximus blandit. Sed tellus velit, sagittis et tempus vulputate
                        amitino.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase"><i class="zmdi zmdi-wrench mr-2"></i>Development</h2>
                    <p class="fs--1">Suspendisse potenti. Maecenas consectetur enim ac turpis vehicula
                        sagittis. Nulla finibus gravida sodales. Cras vel tristique neque, et rutrum mi. In sit
                        amet velit a felis maximus blandit. Sed tellus velit, sagittis et tempus vulputate
                        amitino.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="mb-4 fs-1 fw-medium text-primary text-uppercase"><i class="zmdi zmdi-male-female mr-2"></i>Consulting</h2>
                    <p class="fs--1">Suspendisse potenti. Maecenas consectetur enim ac turpis vehicula
                        sagittis. Nulla finibus gravida sodales. Cras vel tristique neque, et rutrum mi. In sit
                        amet velit a felis maximus blandit. Sed tellus velit, sagittis et tempus vulputate
                        amitino.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="py-0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <h2 class="mb-5 text-uppercase">Advisory Consulting</h2>
                <p class="text-500">Aliquam porttitor libero ut sodales scelerisque. Vestibulum ut sem ligula.
                    Suspendisse luctus aliquam dolor in dapib. Integer pretium consectetur porta. Sed lacinia
                    nisilia sit amet dui egestas gravida. Sed auctor lacus vitae blandit consectetur. Sed non
                    erat lacus. Aliquam ultrices at sapien in tincidunt. Nulla quis ex ac est dictum aliquet.
                    Cras tempor justo lobortis enim pretium, sed aliquet lectus vehicula.</p>
            </div>
        </div>
    </div>

    <div class="container mt-5 mt-md-14 overflow-x-hidden overflow-md-visible">
        <div class="row">
            <div class="ml-md-neg-15 d-md-flex text-center">
                <div class="d-md-flex flex-column">
                    <img src="assets/assets/img/img-16.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400" height="400" />

                    <img src="assets/assets/img/pattern-01.png" alt="" width="94" class="d-none d-md-block position-absolute zindex--1 my-7 ml-13" />
                </div>

                <div class="mt-md-neg-10 d-md-flex">
                    <div class="d-md-flex flex-column">
                        <img src="assets/assets/img/pattern-02.png" alt="" width="670" class="d-none d-md-block position-absolute zindex--1 mt-neg-3 ml-8" />

                        <img src="assets/assets/img/img-17.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400"
                            height="400" />
                        <img src="assets/assets/img/img-18.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400"
                            height="400" />
                    </div>

                    <div class="mt-md-neg-15 d-md-flex">
                        <div class="d-md-flex flex-column">
                            <img src="assets/assets/img/img-19.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400"
                                height="400" />
                            <img src="assets/assets/img/img-20.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400"
                                height="400" />
                        </div>

                        <div class="mt-md-10">
                            <img src="assets/assets/img/img-21.jpg" class="my-3 my-md-4 mx-md-4" alt="" width="400"
                                height="400" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-row" data-aos="fade-right">
                            <div>
                                <i class="zmdi zmdi-spinner zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Strategy</h2>
                                <p class="fs--1">Suspendisse potenti. Maecenas consectetur enim ac turpis
                                    vehicula sagittis. Nulla finibus gravida sodales. Cras vel tristique neque,
                                    et rutrum mi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-row" data-aos="fade-left">
                            <div>
                                <i class="zmdi zmdi-hourglass-alt zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Architecture</h2>
                                <p class="fs--1">Pellentesque ultrices ante id tristique porttitor. Nullam
                                    euismod nisl eget odio tincidunt, quis egestas sem eleifend. Phasellus
                                    faucibus sapien eu suscipit ultricies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-row" data-aos="fade-right">
                            <div>
                                <i class="zmdi zmdi-layers zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Operations</h2>
                                <p class="fs--1">Praesent venenatis mollis commodo. Aliquam odio nisl, faucibus
                                    sit amet sem dapibus, accumsan vehicula magna. Praesent faucibus eu lectus
                                    ultrices lacinia. Nulla eu lobortis ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5">
                        <div class="d-flex flex-row" data-aos="fade-left">
                            <div>
                                <i class="zmdi zmdi-money zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Finance</h2>
                                <p class="fs--1">Vestibulum ac est ac nibh auctor pellentesque. Phasellus
                                    pulvinar metus ut venenatis pharetra. Nulla a lectus a orci rutrum maximus
                                    at non ante. Interdum et malesuada fames.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="d-flex flex-row" data-aos="fade-right">
                            <div>
                                <i class="zmdi zmdi-male-female zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Consulting</h2>
                                <p class="fs--1">Nam vehicula lacus id auctor scelerisque. Suspendisse
                                    efficitur, eros eu pellentesque scelerisque, neque ante placerat ligula, at
                                    maximus dolor sem sed nisi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-row" data-aos="fade-left">
                            <div>
                                <i class="zmdi zmdi-wrench zmdi-hc-fw zmdi-hc-3x mr-1"></i>
                            </div>
                            <div class="flex-shrink-1">
                                <h2 class="mb-4 fs-1 fw-medium text-uppercase">Development</h2>
                                <p class="fs--1">Morbi sodales turpis sed est aliquam, ac accumsan erat
                                    vestibulum. Nunc libero ex, vulputate ut sollicitudin id, rutrum eu leo.
                                    Donec ligula mi, bibendum ut felis.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 col-lg-4">
                        <a href="#" class="btn btn-primary btn-lg btn-block mt-6">Request a quote<i class="zmdi zmdi-email-open ml-3"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="py-0">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-6 py-8">
                <div class="bg-container" style="background-image: url(assets/assets/img/img-22.jpg);"></div>
            </div>
            <div class="col-md-6 py-6 py-lg-8 bg-blue-light overflow-hidden">
                <div class="row h-100 align-items-center">
                    <form class="col px-5 px-lg-8 px-xl-10">
                        <h3 class="my-0 fs-1 fw-medium text-secondary text-uppercase">Planning</h3>
                        <h2 class="mb-4 fw-medium text-primary text-uppercase">Roadmaps</h2>
                        <p class="mb-0 fs--1">Sed facilisis blandit diam ut commodo. Duis consequat justo eu
                            eros varius, non interdum purus sagittis. Integer imperdiet justo vulputate lectus
                            mattis fringilla. Maecenas arcu turpis, imperdiet porttitor consectetur
                            condimentum, pretium eget ante. Aenean mattis mauris leo, ac pretium justo viverra
                            in. In sit amet malesuada purus.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Section -->
