<!-- Section -->
<section class="py-0">
  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-8 minh-100vh col-xl-7 bg-white pt-10 pt-lg-7 pb-6 pb-lg-3">
        <div class="row align-items-center h-100">
          <div class="col-lg-10 pb-3">
            <h1 class="fs-3 fs-lg-5 title-underline mb-5 pb-3">We deliver
              <span class="typed text-primary"></span> <br />right
              into your business.</h1>
            <p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
              fermentum varius mi non finibus. Quisque dignissim sit amet libero ac egestas.</p>

            <div class="row justify-content-center justify-content-lg-start">
              <div class="col-8 col-lg-5">
                <a routerLink="/contact" class="btn btn-primary btn-lg btn-block mb-2">Get in touch</a>
              </div>
              <div class="col-8 col-lg-5">
                <a routerLink="/about" class="btn btn-secondary btn-lg btn-block mb-2">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-5 bg-secondary ext-r pt-0 pt-lg-7 pb-1 pb-lg-3">
        <div class="d-flex h-100 align-items-center ml-lg-neg-7 release-container unrelease-lg-container">
          <!-- <div><img src="assets/assets/img/img-01.jpg" class="img-fluid w-100" alt="" /></div> -->
          <!-- Carousel -->
          <div class="owl-carousel owl-theme">
            <div class="item"><img src="assets/assets/img/img-01.jpg" class="img-fluid w-100" alt="" /></div>
            <div class="item"><img src="assets/assets/img/img-02.jpg" class="img-fluid w-100" alt="" /></div>
            <div class="item"><img src="assets/assets/img/img-03.jpg" class="img-fluid w-100" alt="" /></div>
            <div class="item"><img src="assets/assets/img/img-04.jpg" class="img-fluid w-100" alt="" /></div>
            <div class="item"><img src="assets/assets/img/img-05.jpg" class="img-fluid w-100" alt="" /></div>
          </div>
          <!-- End of Carousel -->
        </div>
      </div>

      <div class="move d-none d-lg-block">
        <a href="#section-2" data-smooth-scroll data-smooth-scroll-hash="false">
          <i class="zmdi zmdi-long-arrow-down zmdi-hc-2x"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section id="section-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-md-6 col-lg-4 pr-lg-5">
            <h2 class="mb-4 fs-1 fw-medium text-uppercase"><span class="fs-2 pr-2 text-primary position-relative top-2">01</span>Communication</h2>
            <p class="fs--1">Proin venttdio nunc, id fringilla augue luctus et. Mauris condimentum
              vehicula magna a vehicula. Cras ornare, ligula id semper fringilla, ex turpis
              aliquet ex, et maximus metus turpis a orci.</p>
          </div>
          <div class="col-md-6 col-lg-4 px-lg-5 border-left-centered-40 border-left-centered-faded">
            <h2 class="mb-4 fs-1 fw-medium text-uppercase"><span class="fs-2 pr-2 text-primary position-relative top-2">02</span>Planning</h2>
            <p class="fs--1">Etiam sed ultrices arcu, eu ornare purus. Morbi lobortis bibendum
              aliquam. Fusce eget est urna. Etiam malesuada neque at eros elementum, eu laoreet.</p>
          </div>
          <div class="col-md-6 col-lg-4 pl-lg-5 border-left-centered-40 border-left-centered-faded">
            <h2 class="mb-4 fs-1 fw-medium text-uppercase"><span class="fs-2 pr-2 text-primary position-relative top-2">03</span>Delivering</h2>
            <p class="fs--1">Vestibulum id lacus sed odio hendrerit vulputate porta vitae ex. Fusce
              facilisis libero vitae leo efficitur, quis semper nisi pretium. Nam e turpis
              egestas dolor semper vulputate convallis lectus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<!-- Section -->
<section class="pt-0">
  <div class="container-fluid px-xl-0">
    <div class="row align-items-center">
      <div class="col-lg-6 align-self-stretch py-6 py-lg-9">
        <div class="bg-container overlay overlay-primary-90" style="background-image: url(assets/assets/img/img-06.jpg);"></div>
        <div class="position-relative">
          <div class="px-sm-6 px-lg-8 px-xl-10">
            <h3 class="my-0 fs-1 fw-medium text-uppercase">We can help</h3>
            <h2 class="mb-4 fw-medium text-white text-uppercase">Services</h2>
            <p class="mb-0 fs--1 text-white">Sed facilisis blandit diam ut commodo. Duis consequat
              justo eu eros varius, non interdum purus sagittis. Integer imperdiet justo
              vulputate lectus mattis fringilla. Maecenas arcu turpis, imperdiet porttitor
              consectetur condimentum, pretium eget ante. Aenean mattis mauris leo, ac pretium
              justo viverra in. In sit amet malesuada purus.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-sm-8 px-ld-9 px-xl-12 pt-6 pb-4 py-lg-10 py-xl-8 align-self-stretch">
        <h3 class="my-0 mb-4 fs-1 fw-bold text-uppercase"><i class="zmdi zmdi-sun mr-2"></i>Core
          Services</h3>
        <ul class="list-unstyled mb-5">
          <li class="mb-1"><span class="h6 text-primary fw-bold mr-1">01</span>Website Designing</li>
          <li class="mb-1"><span class="h6 text-primary fw-bold mr-1">02</span>Website Developemnt</li>
          <li class="mb-1"><span class="h6 text-primary fw-bold mr-1">03</span>Mobile App Designing</li>
          <li class="mb-1"><span class="h6 text-primary fw-bold mr-1">04</span>Mobile App Developemnt</li>
          <li class="mb-1"><span class="h6 text-primary fw-bold mr-1">05</span>SEO & SEM</li>
        </ul>
        <a routerLink="/services" class="h6 fw-bold text-uppercase text-primary float-right float-lg-left">View more<i class="zmdi zmdi-chevron-right pl-4"></i></a>
      </div>
    </div>
  </div>
</section>
<!-- End of Section -->

<app-testimonial></app-testimonial>

